<div class="login-container forget-password-container">
  <div class="login-header-section">
    <img
      src="https://www.weavatools.com/app/assets/images/full-logo-black.png"
      class="login-image"
      alt="Weava"
    />
    <div class="login-text">Reset your password</div>
  </div>

  <div class="login-body-section forget-password-body">
    <form class="forget-password-form" (ngSubmit)="onSubmit()" novalidate>
      <ng-container *ngIf="!isResetMode">
        <div class="login-input-wrapper">
          <input
            [(ngModel)]="email"
            name="email"
            type="email"
            placeholder="Email"
            class="login-text-input forget-password-input"
            required
          />
        </div>

        <div class="login-input-wrapper" *ngIf="isSuccess">
          <div class="forget-password-success">
            Password reset instruction is sent to your email. Please check your inbox.
          </div>
        </div>

        <div class="login-input-wrapper" *ngIf="errorMessage">
          <div class="forget-password-error">
            {{ errorMessage }}
          </div>
        </div>

        <div class="login-input-wrapper">
          <button
            type="submit"
            class="btn forget-password-submit text-white"
            [class.active]="isEmailValid && !isSubmitting"
            [disabled]="!isEmailValid || isSubmitting"
          >
            {{ isSubmitting ? 'Please wait...' : 'Reset Password' }}
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="isResetMode">
        <div class="login-input-wrapper">
          <div class="forget-password-password-wrapper">
            <input
              [(ngModel)]="newPassword"
              name="newPassword"
              [type]="showNewPassword ? 'text' : 'password'"
              placeholder="New Password"
              class="forget-password-password-input"
              required
            />
            <button
              type="button"
              class="forget-password-eye-button"
              (click)="toggleNewPasswordVisibility()"
            >
              <fa-icon [icon]="showNewPassword ? faEye : faEyeSlash"></fa-icon>
            </button>
          </div>
        </div>

        <div class="login-input-wrapper">
          <div class="forget-password-password-wrapper">
            <input
              [(ngModel)]="confirmPassword"
              name="confirmPassword"
              [type]="showConfirmPassword ? 'text' : 'password'"
              placeholder="Confirm Password"
              class="forget-password-password-input"
              required
            />
            <button
              type="button"
              class="forget-password-eye-button"
              (click)="toggleConfirmPasswordVisibility()"
            >
              <fa-icon [icon]="showConfirmPassword ? faEye : faEyeSlash"></fa-icon>
            </button>
          </div>
        </div>

        <div class="login-input-wrapper" *ngIf="errorMessage">
          <div class="forget-password-error">
            {{ errorMessage }}
          </div>
        </div>

        <div class="login-input-wrapper">
          <button
            type="submit"
            class="btn forget-password-submit text-white"
            [class.active]="canSubmitReset"
            [disabled]="!canSubmitReset"
          >
            {{ isSubmitting ? 'Please wait...' : 'Update' }}
          </button>
        </div>
      </ng-container>

      <div class="login-input-wrapper">
        <button type="button" class="btn forget-password-cancel" (click)="goToLogin()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
