<div _ngcontent-wat-c61="" class="main-panel-footer">
  <ul _ngcontent-wat-c61="" class="segmented-control main-panel-footer-segmented-control">
      <li (click)="changeTab('highlights')" _ngcontent-wat-c61="" class="segmented-control__item"><input _ngcontent-wat-c61="" type="radio" id="option-1" class="segmented-control__input"><label _ngcontent-wat-c61="" for="option-1" class="segmented-control__label" [class.active]="selectedTab === 'highlights'"> Highlights </label></li>
      <li (click)="changeTab('documents')" _ngcontent-wat-c61="" class="segmented-control__item"><input _ngcontent-wat-c61="" type="radio" name="option" id="option-2" class="segmented-control__input"><label _ngcontent-wat-c61="" for="option-2" class="segmented-control__label" [class.active]="selectedTab === 'documents'"> Documents </label></li>
  </ul>
</div>