<div class="contribute-container">
  <div class="contribute-header-section">
    <h1>Contribute to Weava and help us grow</h1>
    <p>To contribute, please visit the Contribution Page</p>
  </div>

  <div class="contribute-content">
    <p>Your contributions help us improve Weava. Thank you for supporting us!</p>
    <!-- Add any other content here, like forms or contribution details -->

    <div class="contribute-actions">
      <a routerLink="/contribute-weava" class="btn btn-primary">Contribute Now</a>
    </div>
  </div>
</div>
